<form (ngSubmit)="register()" #formularioRegistro="ngForm" autocomplete="off" class="container mt-4">
    <fieldset class="card shadow-sm p-3">
        <legend>Formulario de Registro</legend>
        <div class="form-group">
            <label class="form-label mt-2">Nombre de usuario</label>
            <input type="text" name="username" class="form-control" placeholder="Ingrese un nombre de usuario"
                [ngModel]="initForm.username">
        </div>
        <div class="form-group">
            <label class="form-label mt-2">Correo electronico</label>
            <input type="email" name="email" class="form-control" placeholder="Ingrese un correo electronico"
                [ngModel]="initForm.email">
        </div>
        <div class="form-group">
            <label class="form-label mt-2">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="Ingrese una contraseña"
                [ngModel]="initForm.password">
        </div>
        <button type="subtmit" class="btn btn-primary mt-3">Registro</button>

        <a routerLink="/auth/login" class="navbar-brand text-center mt-4" >Ir al Login</a>

    </fieldset>
</form>